<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        div {
            outline: 1px dashed black;
            background-color: #f0f0f0ac;
        }
    </style>

</head>

<body>
    <header>
       <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
         </div>
       </nav>
       
    </header>
    <main>
       <div class="container">
        <div class="row">
            <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, doloribus tenetur natus harum cumque dolorem, non est labore amet molestias blanditiis enim beatae iste aspernatur possimus maxime nostrum! Nemo, veritatis!</div>
            <div class="col-3">Aliquid possimus eveniet praesentium, non assumenda eum officiis, saepe facere nobis, accusantium reiciendis? Iste soluta eveniet, ducimus error minima itaque eligendi atque quos harum unde accusamus iusto nemo fuga earum.</div>
            <div class="col-3">Tempore consectetur eaque veritatis, expedita tempora commodi non totam quaerat ut esse corporis, qui sunt voluptatem temporibus facilis eligendi? Ipsam repudiandae velit doloribus saepe ea, voluptatum recusandae hic numquam corporis.</div>
            <div class="col-3">Repellat, eaque quia laborum ipsum tempore possimus dolorem consectetur corporis, impedit a velit numquam distinctio. Iusto, quas! Illo cumque harum voluptatem eveniet eos soluta iste perferendis! Autem provident eos quo!</div>
            <div class="col-3">Non esse, mollitia quasi illo beatae quidem, fuga, est tempora aperiam minus repudiandae suscipit cupiditate excepturi unde possimus. Laudantium eligendi in iste provident mollitia cum quisquam temporibus quam blanditiis minima!</div>
            <div class="col-3">Eum soluta voluptate nihil molestiae, dolorum molestias similique sapiente commodi repellendus id modi magni provident. Inventore cupiditate vero facere architecto autem? Saepe in harum cumque quas quibusdam nesciunt veritatis delectus?</div>
            <div class="col-3">Perferendis ducimus consectetur deserunt hic? Dignissimos placeat nesciunt cupiditate aliquam iure modi saepe nam nulla corrupti dolorum officiis qui doloribus debitis ratione, quidem totam ducimus distinctio voluptatum fugit numquam alias.</div>
            <div class="col-3">Repellendus voluptates, impedit facere doloribus voluptas qui, aperiam quisquam accusamus iste quidem commodi atque perferendis praesentium ea. Ad beatae maiores magni facilis dignissimos architecto vero vel? At qui praesentium est!</div>
            <div class="col-3">Sint eos possimus natus a porro ex suscipit aperiam et nihil fuga nemo fugiat ipsum cupiditate quos, eum modi asperiores corporis repellat est voluptas officiis delectus. Mollitia dolorum quis harum.</div>
            <div class="col-3">Animi mollitia voluptates quidem adipisci, molestiae soluta sequi quasi repellat perspiciatis itaque, temporibus possimus at nobis magnam obcaecati dicta inventore ipsam, eaque consequuntur veritatis ab error voluptatum eligendi excepturi! A!</div>
            <div class="col-3">Cupiditate incidunt omnis ut nemo natus consectetur, laboriosam vel unde, sint error quae a facere eos eaque aliquid minima sed nobis iusto ipsum optio vitae veritatis modi? Suscipit, laudantium molestias?</div>
            <div class="col-3">Minima magni excepturi nulla dignissimos molestias consequuntur, debitis ullam nam earum error ex, voluptates alias iure! Voluptatum beatae dolorum eos totam labore accusamus vero error fugit neque dignissimos, reiciendis provident.</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reprehenderit voluptatem beatae temporibus. Veniam repellat minus autem ad? Aut illo eius necessitatibus sint placeat officia iure accusantium dolor sequi eligendi?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Voluptatem, quaerat voluptatum, ipsa debitis tempora itaque, temporibus repellendus tenetur eum ipsum dolorum? Aut eos voluptas dolore dolorum quam atque a ratione. Modi architecto quibusdam in dignissimos. Quaerat, mollitia deleniti.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Cumque necessitatibus porro consequuntur exercitationem delectus obcaecati nemo inventore recusandae corrupti sit tenetur asperiores ipsum iste, natus aspernatur quaerat possimus quae optio temporibus eius dolorum culpa placeat enim ipsa! Fugiat.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">At animi quisquam perspiciatis tenetur nesciunt quas deserunt unde consequuntur, aperiam similique sint cumque voluptatem facilis iste et, provident enim eaque ipsum, illo dolorem esse? Deleniti necessitatibus obcaecati dolorum magni?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Ratione atque officiis aspernatur fugit odio nostrum harum expedita aliquam culpa nemo ab quod consectetur possimus aut corrupti dolores, quis odit illum voluptatum quisquam vitae? Maiores iusto saepe ipsam fuga.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Maxime temporibus similique ea molestiae excepturi exercitationem accusantium ipsam deserunt quo numquam qui fugiat explicabo corrupti nesciunt, odio obcaecati, quas nisi nemo iusto officia sint! Autem, magnam obcaecati. Magni, itaque!</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Tenetur, reiciendis natus expedita quae a eveniet. Magnam modi libero, voluptates molestias, vero, voluptate earum aliquam porro veniam obcaecati sequi! Natus maiores necessitatibus, itaque incidunt consequatur vero tenetur obcaecati officiis?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">At voluptate, velit modi facere molestias ipsum eaque, cupiditate cumque perferendis officiis sit doloremque praesentium perspiciatis nihil. Minus at eligendi dolores quaerat ad sequi et, quisquam fugit dolore, voluptate veritatis.</div>
        </div>
    </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>