<!doctype html>
<html lang="en">

<head>
    <title>OpenMeteo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- FontAwesome 6.2.0 CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- (Optional) Use CSS or JS implementation -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
            integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .hero {
            background-image: url(https://open-meteo.com/images/convective_clouds.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
           
            
        }
        .tshadow{
            text-shadow: 3px 2px 3px  #222;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-sun"></i>open-meteo
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" aria-current="page">Home <span
                                    class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">API Docs</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa-brands fa-github fa-2x"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                        <li class="nav-item"><div class="dropdown open">
                            <button class="btn dropdown-toggle nav-link" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        <i class="fa fa-moon fa-2x"></i>
                                    </button>
                            <div class="dropdown-menu" aria-labelledby="triggerId">
                                <button class="dropdown-item" href="#">
                                    <i class="fa fa-sun"></i> Light
                                </button>
                                <button class="dropdown-item " href="#">
                                    <i class="fa fa-moon"></i> Dark
                                </button>
                                <button class="dropdown-item " href="#">
                                    <i class="fa fa-adjust"></i> Auto
                                </button>
                            </div>
                        </div></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div class="container-fluid hero text-center text-white p-5 mb-5">
            <div class="row m-4">
                <div class="col-12   ">
                    <i class="fa fa-cloud-sun fa-5x mb-2 tshadow"></i>
                    <div class="display-5 mb-2">
                        Free Weather API
                    </div>
                </div>
                <div class="col-lg-6 mx-auto mb-2">
                    <p class="lead">
                        Open-Meteo is an open-source weather API and offers free access for non-commercial use. No API key required. Start using it now!
                    </p>
                   <div class="d-flex gap-4 justify-content-center">
                    <a name="" id="" class="btn btn-primary btn-lg px-4" href="#" role="button">Features</a>
                    <a name="" id="" class="btn btn-outline-light btn-lg px-4" href="#" role="button">Documentaion</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="container py-5 ">
            <div class="row">
                <div class="col-lg-6 ">
                    <h1 class="display-5">
                        Accurate Weather Forecasts for Any Location
                    </h1>
                    <p class="lead">
                        Open-Meteo partners with national weather services to bring you open data with high resolution, ranging from 1 to 11 kilometers. Our powerful APIs intelligently select the most suitable weather models for your specific location, ensuring accurate and reliable forecasts.
                    </p>
                    <p>
                        With our user-friendly JSON API, accessing weather data has never been easier. Whether you're developing an application or seeking weather information for personal use, our APIs provide seamless integration and deliver the data you need in a simple and accessible format.
                    </p>
                    <p>
                        Experience the precision and convenience of Open-Meteo's Forecast API, providing comprehensive weather information worldwide. Stay informed and make informed decisions with our reliable weather forecasts.
                    </p>
                    <div class="d-flex gap-4 ">
                        <a name="" id="" class="btn btn-primary btn-lg px-4" href="#" role="button">See Features</a>
                        <a name="" id="" class="btn btn-outline-secondary btn-lg px-4" href="#" role="button">Read the docs</a>
                    </div>
                </div>
                       <div class="col-lg-6 bg-dark rounded-3 text-white p-3 ">
                         <!-- Nav tabs -->
                         <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                           <li class="nav-item" role="presentation">
                             <button class="btn btn-outline-light active me-1 " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Forecast & current </button>
                           </li>
                           <li class="nav-item" role="presentation">
                             <button class="btn btn-outline-light me-1" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"> Last 10 days </button>
                           </li>
                           <li class="nav-item" role="presentation">
                             <button class="btn btn-outline-light" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false"> Historical data </button>
                           </li>
                         </ul>
                         
                         <!-- Tab panes -->
                         <div class="tab-content">
                           <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> home </div>
                           <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> profile </div>
                           <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"> messages </div>
                         </div>
                       </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa fa-sun fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                    <h2>
                        High Resolution
                    </h2>
                </div>Open-Meteo leverages a powerful combination of global (11 km) and mesoscale (1 km) weather models from esteemed national weather services, providing comprehensive forecasts with remarkable precision. No matter where you are in the world, you can access the most reliable and accurate weather predictions available.

                Our weather data is presented in hourly resolution, allowing you to plan your activities with confidence. The initial days of the forecast benefit from localized weather models, offering highly detailed and accurate information. Subsequently, global weather models provide forecasts for up to 16 days. Through seamless integration, our APIs deliver a straightforward and reliable hourly weather forecast experience.
                <p></p>
            </div>
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa fa-clock fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                        <h2>
                            Rapid updates
                        </h2>
                    </div>
                    <p>
                        At Open-Meteo, we understand the importance of having the most up-to-date weather information. That's why our local weather models are updated every hour, ensuring that our forecasts reflect the latest changes in conditions, including updates from rain radars.

Our weather models rely on a wealth of real-time data, including measurements from various sources such as airplanes, buoys, radar systems, and satellites. By incorporating this diverse and comprehensive data, our numerical weather predictions provide a deeper analysis than traditional weather stations, resulting in more accurate forecasts.
                    </p>
                </div>
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa fa-archive fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                        <h2>80 Years Historical Data</h2>
                </div>
                <p>
                    Explore the past with our comprehensive Historical Weather API. With over 80 years of hourly weather data available at a 10 kilometer resolution, you can dive into the climate of any location. Behind the scenes, this extensive dataset, comprising 50 TB of information, enables you to access temperature records spanning eight decades in an instant.

Moreover, our 1 kilometer weather models continuously archive recent data, ensuring that you can seamlessly retrieve the latest forecasts alongside historical information from previous weeks. This functionality opens up possibilities for training machine learning applications and gaining valuable insights from the combination of present and past weather data. Discover the power of our historical weather API and unlock a treasure trove of weather information.
                </p>
                </div>
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa-brands fa-github fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                        <h2>
                            Open-source
                        </h2>
                </div>
                <p>
                    We believe in the power of open-source software. That's why the entire codebase of Open-Meteo is accessible on GitHub, released under the AGPLv3 licence. This means you can explore, use, modify, and contribute to the code.

If you wish to take it a step further, we're here to support you in setting up your own API instances. This allows you to have complete control and enjoy practically unlimited API calls, making it ideal for demanding applications like machine learning or large language models.

In addition, our data is licensed under Attribution 4.0 International (CC BY 4.0). This means you are free to share and adapt the data, even for commercial purposes. We believe in fostering an open ecosystem that encourages transparency, collaboration and innovation.
                </p>
                </div>
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa fa-key fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                        <h2>Free API</h2>
                </div>
                <p>
                    Open-Meteo offers free access to its APIs for non-commercial use, making it convenient for individuals and developers to explore and integrate weather data into their projects. The best part is that no API key, registration, or credit card is required to enjoy this service.

We trust our users to utilize the free API responsibly and kindly request appropriate credit for the data used. While there are no strict access restrictions, we encourage fair usage of the service. If you require commercial usage or anticipate exceeding 10'000 API calls per day, we recommend considering our API subscription for enhanced features and support.
                </p>
                </div>
                <div class="col-lg-6 col-xxl-4">
                    <div class="tittle-area d-flex align-items-center">
                        <i class="fa-brands fa-android fa-3x bg-primary rounded-3 p-2 text-white me-2"></i>
                        <h2>
                            Easy to Use
                        </h2>
                    </div>
                    <p>
                        We've designed our APIs to be incredibly user-friendly. They are based on the widely adopted HTTP protocol and utilize the simplicity of JSON data format. All you need to get started is a basic understanding of geographic coordinates, making HTTP requests, and working with JSON data.

To assist you in seamlessly integrating our APIs into your projects, we provide comprehensive documentation. It includes detailed explanations of all parameters and their usage. Whether you're using Python, R, Julia, PHP, JavaScript, React, Flutter, Java, or any other programming language, our APIs are designed to work effortlessly with your application.
                    </p>
                </div>
            </div>
        </div>
        <div class="container px-4 py-5">
            <div class="row">
                <i class="fa fa-sun fa-5x  mt-5"></i>
                <h1 class="text-center fw-b">Stay up to date!</h1>
                <div class="col-lg-12 mx-auto">
                    We're constantly evolving and expanding. We're dedicated to providing you with the latest features, weather variables, and data sources. If you want to stay in the loop and be the first to know about our exciting updates, we invite you to subscribe to our blog or follow us on Twitter. By doing so, you'll never miss out on the latest developments and enhancements in our services.
                </div>
            </div>         
        </div>
    </main>
    <footer class="container">
        <div class="row">
            <div class="col-xs-6 col-xm-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi ab
                corporis, suscipit ea aut, quam ullam perspiciatis dolores consectetur atque perferendis minus iure
                mollitia nobis tempora repellendus exercitationem deleniti?</div>
            <div class="col-xs-6 col-xm-3">Excepturi labore facilis mollitia officia asperiores sapiente enim,
                exercitationem repellat, obcaecati iusto impedit. Numquam culpa aperiam blanditiis, inventore, quis
                veniam quaerat, dicta asperiores laboriosam reprehenderit iste at! Totam, veniam similique.</div>
            <div class="col-xs-6 col-xm-3">Minus dicta asperiores assumenda harum sint, excepturi consectetur corrupti
                inventore sit doloribus ipsum, fugit animi nihil amet illum cupiditate debitis commodi eum aliquam porro
                beatae earum. Esse quas laudantium ipsum!</div>
            <div class="col-xs-6 col-xm-3">Deserunt cumque excepturi ea fugiat rerum id soluta recusandae neque minus
                alias, perferendis iure repudiandae minima quae dolor voluptatum molestias ipsum sequi amet sit autem
                nam ratione voluptatibus. Ab, ipsam.</div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>